


h1{
  text-align: center;
  color:RGB(85, 180, 176);
}
 #container{
   padding: 10px;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
   width: 300px;
 
   border-radius: 5px;
   margin: auto;
   
   
   
 }
 #display{
box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px bold;
  height: 50px;
  width: 100%;
  border-radius: 10px;
 }
 
  #keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 60px);
    gap: 10px;
    margin-top: 10px;
    font-weight: bold;
  }
 #keyboard > div{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
 #keyboard > div :hover{
   background-color: black;
   color:white;
 
 }
 .black{
   background-color:black;
   color: white;
   border-radius: 10px;
 }
 .ac{
   background-color: red;
   color: white;
   border-radius: 10px;
 }

